@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

    transition: ease-in-out 0.2s;
}

p, a{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Gabarito', serif;
}

nav{
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #437C90;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

nav div{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div a{
    color: #fff;
    text-decoration: none;
}

nav div a:hover{
    color: #202020
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("https://images2.alphacoders.com/550/550356.jpg");
    background-position: center;
    background-attachment: fixed;
}

header div{
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 2rem;
    border-radius: 1rem;
}

header div p{
    color: #fff;
    width: 100%;
}

#sobre-nos{
    padding: 2vh 2.5vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10vh;
}

#sobre-nos h2{
    margin-top: 2rem
}

#sobre-nos div{
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sobre-nos div a{
    color:#437C90;
    text-decoration: none;
}

#sobre-nos div img{
    width: 45%;
    max-height: 40vh;
    margin-right: 2.5%;
}

#projetos{
    min-height: 50vh;
    padding: 2vh 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #81B8EF;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.25);
    gap: 1rem;
}

#title{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#title p{
    font-weight: bold;
}

.cardContainer{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.card{
    width: 33%;
    background-color: #fff;
    border-radius: 0.5rem;

    filter: drop-shadow(0 0 20 rgba(0,0,0,0.25));
}

.card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.text-card{
    padding: 1rem 0.5rem;
}

.text-card button{
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    background-color: #437C90;
    color: #fff;
    font-family: 'Gabarito', sans-serif;

    margin-top: 0.5rem;
}

.text-card button:hover{
    color: #202020;
    background-color: #81B8EF;
}


footer{
    display: flex;
    justify-content: space-around;
    padding: 2vh 2.5vw;
    background-color: #202020;
    color: #fff
}

footer div a{
    color: #81b8ef;
    text-decoration: none;
}

footer div a:hover{
    color: #437C90;
}

#formulario-contato {
    width: 48%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.campo-label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.campo-input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.campo-textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem
}

.botao{
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botao-enviar {
    background-color: #007BFF;
}

.botao-enviar:hover {
    background-color: #01448b;
}

.botao-limpar, .botao-exclui{
    background-color: #e01515;
}

.botao-exclui{
    margin-top: 2.5%;
}

.botao-exclui-uma{
    width: 20%;
    align-self: flex-end;
}

.botao-limpar:hover, .botao-exclui:hover{
    background-color: #950e0e;
}

#contact-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 47vh;
    height: 100vh;
    gap: 2rem;
}

#contact-page h2{
    margin-top: 15vh;
}

#contact-us, #lista{
    display: flex;
    padding: 2.5%;
}

#lista{
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}

#contact-us img{
    width: 48%;
    margin-right: 2%;
}

#ans-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 90%;
    background-color: #ADD5FF;
    border-radius: 1rem;
}

#card{
    width: 95%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    gap: 0.3rem;
}

#card:last-child{
    margin-bottom: 2%;
}

.card-content{
    width: 100%;
    padding: 2.5%;
    border-radius: 0.5rem;
    
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background-color: #fff;
}

.card-content h3, .card-content h5{
    font-size: 1.1rem;
}

.card-content h3>span,
.card-content h5>span{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

.searchAndDelete{
    width: 90%;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 1rem;
}

.searchAndDelete div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchAndDelete div button{
    padding: 4px;
    background-color: #9ac8f8;
    cursor: pointer;

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    border: solid 1px #202020;
}

.searchAndDelete div button:hover{
    background-color: #007BFF;
    border: solid 1px #202020;
}

.searchAndDelete div button img{
    height: 24px;
    width: 24px;
}

.searchAndDelete div input[type="text"]{
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding: 10px 20px;
    border: solid 1px #202020;
}